.container{
  width: 50%;
  text-align: center;
  background-color: bisque;
  margin: 0 auto;
}
.nav-grid{
  display: grid;
  grid-template-columns: minmax(0, .5fr) auto minmax(auto, .5fr);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}
.navbar-brand{
  justify-self: start;
}
.nav-logo{
  width: auto;
  height: 34px;
  vertical-align: middle;
}
.nav{
  justify-self: center;
  list-style-type: none;
  display: flex;
}
.navlink a{
  text-decoration: none;
    color: black;
    padding: 16px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.nav-right{
  justify-self: end;
}
.nav-right-wrap{
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.contact-btn{
  text-decoration: none;
    display: block;
    background-color: #bfc2ff;
    color: black;
    text-align: center;
    border-radius: 40px;
    padding: 10px 28px;
    font-weight: 500;
    font-size: 16px;
}